<h1>Editing Friend</h1>
<br/>
<%= render 'form', friend: @friend %>

<br>
<%= link_to 'Back', friends_path, class:"btn btn-dark" %>

<br>
<br>

<%= button_to 'Delete', @friend, method: :delete, data: {turbo_confirm: "This friend will be deleted"} , class: "btn btn-danger" %>
